@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;600;700;800&family=Montserrat:wght@900&display=swap');

@keyframes morph {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }

    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }

    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Heebo', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.5rem;
}

h4 {
    font-size: 2rem;
}

h5 {
    font-size: 1.5rem;
}

h6 {
    font-size: 1rem;
}

p {
    font-size: 1.8rem;
}

a {
    color: black;
    text-decoration: none;
}

ul {
    list-style: none;
    font-size: 1.6rem;
}

.nav-bar {
    width: 100%;
    background: #fff;
    position: fixed;
    z-index: 100;
}

.nav-bar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 2.5rem 6rem;
    box-shadow: 0 0 10px rgba(0,0,0,.09);
}

.menu ul {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-weight: bold;
    font-size: 1.8rem;
}

.menu a:hover {
    color: #488cd5;
    transition: all .3s ease;
}

.container {
    max-width: 107rem;
    margin: 0 auto;
    padding: 0 4rem;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    height: 65rem;
    position: relative;
}

.home {
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
    width: 100%;
    background: #f9f9f9;
}

.main-home {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    position: relative;
}

.main-home-text {
    gap: 2rem;
    max-width: 50rem;
    display: flex;
    flex-direction: column;
    position: relative;
}

.main-home-text h1 {
    font-size: 5rem;
}

.main-home-text p {
    font-size: 1.8rem;
}

.home-img img {
    width: 30rem;
    height: 30rem;
    border: 3px solid black;
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    animation: morph 8s ease-in-out infinite;
}

.social-links {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.social-links a:hover {
    transform: scale(1.1);
    color: #488cd5;
    rotate: 360deg;
    transition: all .3s ease-in-out;
}

.skills {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
}

.skills p {
    font-weight: bold;
    font-size: 1.8rem;
    border-right: 2px solid #d3d3d3;
    width: 12rem;
}

.logos ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.5rem;
    margin-left: 7rem;
}

.logos ul li img:hover {
    transform: translateY(-1rem);
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.about .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
}

.about-img {
    position: relative;
}

.about-img img {
    width: 100%;
    height: 35rem;
    border-radius: 3rem;
}

.about-text {
    gap: 2rem;
}

.about-text h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.about-text > p {
    margin-bottom: 2rem;
}

.about-text p {
    font-size: 1.8rem;
}

.upper-title {
    text-transform: uppercase;
    font-size: 1.8rem;
    color: #488cd5;
    margin-bottom: 2rem;
}

.projects {
    background: #f9f9f9;
    padding: 15rem;
    text-align: center;
}

.contact {
    padding: 10rem 0;
}

.contact-text h2 {
    font-size: 2.5rem;
    margin-bottom: 10rem;
}

.contact-info {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10rem;
}

.wpp {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 1.5rem;
}

.contact-info p {
    font-size: 1.8rem;
    font-weight: bold;
}

.contact-info a {
    font-size: 1.8rem;
}

.contact-info a:hover {
    color: #488cd5;
}

.email-icon {
    color: #488cd5;
}

.email {
    display:  flex;
    gap: 2rem;
    align-items: center;
    justify-content: left;
}

.footer {
    background: #2d2e32;
    color: #fff;
    padding: 10rem 0;
}

.footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer .social-links svg {
    color: #fff;
}

.close-menu {
    display: none;
}

.back-to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: 5rem;
    height: 5rem;
    font-size: 5rem;
    line-height: 3rem;
    border: 2px solid #2d2e32;
    border-radius: 5px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    padding-bottom: 0.7rem;
    transform: rotate(-90deg);
}

@media (min-width: 801px) and (max-width: 1040px) {
    .home {
        justify-content: center;
        height: calc(100vh - 80px);
    }
    
    .home .content {
        height: 80rem;
    }
}

@media (min-width: 1600px) {
    .content {
        margin-top: 10rem;
    }
}

@media (max-width: 535px) {
    .logos ul li:nth-child(1) {
        width: 100%;
    }
}

@media (max-width: 800px) {
    .nav-bar-content {
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5rem;
    }

    .nav-bar {
        display: none;
    }

    .menu ul {
        flex-direction: column;
        font-size: 2rem;
    }

    .close-menu {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 200;
    }

    .close-menu-label::after {
        content: '☰';
        position: fixed;
        right: 1rem;
        top: 2rem;
        z-index: 200;
        color: #2d2e32;
        font-size: 3rem;
        line-height: 3rem;
        width: 3rem;
        text-align: center;
        cursor: pointer;
    }

    .close-menu:checked~.nav-bar {
        height: 100vh;
        display: block;
    }

    .close-menu:checked~.close-menu-label::after {
        content: '×';
        font-size: 5rem;
        color: #2d2e32;
    }

    .content {
        flex-direction: column;
        gap: 3rem;
        height: auto;
        text-align: center;
    }

    .home {
        height: auto;
        padding: 9rem 0;
    }

    .home-img {
        width: 28rem;
        height: 28rem;
        margin-bottom: 4rem;
    }

    .main-home {
        flex-direction: column-reverse;
        gap: 3rem;
        text-align: center;
        height: auto;
    }

    .main-home h1 {
        font-size: 4rem;
    }

    .main-home p {
        margin-bottom: 5rem;
    }

    .main-home span {
        gap: 1.6rem;
        justify-content: center;
        align-items: center;
        margin-bottom: 4rem;
        margin-top: -2rem;
    }

    .skills {
        flex-direction: column;
        position: static;
    }

    .skills p {
        border-bottom: 2px solid #d3d3d3;
        border-right: none;
        margin-bottom: 3rem;
        margin-right: 0;
        padding-bottom: 1rem;
        padding-right: 0;
    }

    .logos ul {
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        margin-left: 0;
    }

    .about {
        height: auto;
        padding: 11rem 0;
    }

    .about .content {
        display: flex;
        flex-direction: column;
        gap: 5rem;
    }

    .about-img img {
        max-height: 30rem;
    }

    .projects {
        height: auto;
        padding: 11rem 0;
    }

    .contact-info {
        flex-direction: column;
        gap: 5rem;
    }

    .contact-text {
        text-align: center;
    }

    .contact-text h2 {
        margin-bottom: 7rem;
    }

    .email, .wpp {
        flex-direction: column;
        text-align: center;
        gap: 1rem;
    }

    .footer {
        padding: 4rem 0;
    }

    .footer .container {
        flex-direction: column;
        gap: 5rem;
    }

    .footer-text {
        text-align: center;
    }
}
